{% extends 'base.html' %}
{%load static%}
{% block page_links %}
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
{% endblock %}

{% block page_body %}

  <div class="navbar">
      <div  class= "logo" >
          <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
          </a>
         
    </div>
    <div class="right-items">
      
      
      {% if not user.is_authenticated %}
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link" href="{% url 'signup' %}">Register</a>
      <a class="nav-link" href="{% url 'login' %}">Login</a>
      {%endif%}
      <a class="nav-link" href="{% url 'about' %}">About</a>
      <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>

      {% if user.is_authenticated %}
      {% comment %} <a class="nav-link" href="{% url 'worker_profile' user_profile.pk%}">Profile{{worker_profile.profile.username}}</a> {% endcomment %}
      <a class="nav-link" href="{% url 'user_logout' %}">logout</a>
      {%endif%}
      
    </div>
  </div>
  

      {% comment %} {% if user.is_authenticated %}
          
          
      
          {% endif %} {% endcomment %}


{% endblock %}