{% extends "base.html" %}


  <!-- client_profile.html -->


{% block content %}
<div class="container mt-5">
  <h2>Client Profile</h2>
  <p>Username: {{ user_profile.user.username }}</p>
  <p>Address: {{ user_profile.Address }}</p>
  <p>Phone Number: {{ user_profile.phone_no }}</p>
  
  <form method="GET" action="{% url 'client_profile' user_profile.pk %}">
    <label for="service_search">Search by Service:</label>
    <input type="text" id="service_search" name="service_search" value="{{ request.GET.service_search }}">
    <button type="submit">Search</button>
  </form>

<h3>Workers List:</h3>
<ul>
  {% for worker in workers %}
  <li>Worker: 
    <li>
      <p>Username: {{ worker.profile.user.username }}</p>
      <p>Service: {{ worker.service }}</p>
      <p>Description: {{ worker.description }}</p>
      <p>Experiance: {{ worker.experiance }}</p>
      <p>Price per Day: {{ worker.price_per_day }}</p>
      <p>Available Time: {{ worker.available_time }}</p>
    </br>
    </li> 
  {% endfor %}
</ul>
{% endblock %}

  {{user_profile.Address}}{{user_profile.gender}}
</div>
