{%load static%}

<html>
<head>
    <link rel="stylesheet" href={% static 'css/newstyle.css'%}>
   
</head>
<body>

<div class="navbar">
    
  
    <div  class= "logo" >
        <a href="{% url 'index' %}">
          <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
   
   
  </div>
  <div class="right-items">
    <a class="nav-link" href="{% url 'index' %}">Home</a>
    
    <a class="nav-link" href="{% url 'about' %}">about</a>
    <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
    <a class="nav-link" href="{% url 'signup' %}">Register</a>
    <a class="nav-link" href="{% url 'login' %}">Login</a>
  </div>
</div>

</body>
</html>
