<!DOCTYPE html>
{% load bootstrap4 %}
{% block content %}
 
    <h1> Registration </h1>
    <br/>
    <div class="container p-3 my-3 border">
        <form action= {% url "signup"%} method = POST  novalidate>
            {% csrf_token %}          
            {% for form in form %}
                {{ form.label_tag}} <br/>{{form}} {{form.errors|striptags}} <br><br>
            {% endfor %} 
            <input type="submit" value ="Submit">
            <div class="form-group form-button">
                <input type="submit" onclick="location.href='{% url 'login' %}'"  class= 'already' value="Already have an account">
            </div>
        </form>
        {% if messages %}
            {%for message in messages%}
                <small {% if message.tags %} class= "{{message.tags}}" 
                        {%endif%}> {{message}}
                </small>
            {% endfor %}
        {%endif%}        
            </div>
{% endblock %}