{% extends 'base.html' %}
{% load static %}
{% block page_links %}
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
{% endblock %}
{% block page_title %}
    Worker Details
{% endblock %}
{% block page_body %}
    {% include "includes/header.html" %}

    {% block content %}
    <div class="worker-content">
        <div class="worker-form">
            <p>Username: {{ work_profile.profile.username }}</p>
            <br/>
            {% for profile in work_profile %}
            <p>Service: {{ profile.service }}</p>
            <p>Description: {{ profile.description }}</p>
            <p>Phone: {{ profile.profile.phone_no }}</p>
            <p>Price per Day: Rs.{{ profile.price_per_day }} </p>
            <p>Available Time: {{ profile.available_time }}</p>
            <br>
          <div><a href="{% url 'worker_profile' profile.profile.pk %}" class="btn btn-primary">Update Profile</a></div>

            {% endfor %}
        </div>
        {% comment %} <div><a href="{% url 'worker_profile' work_profile.profile.pk %}" class="btn btn-primary">Update Profile</a></div> {% endcomment %}

        {% comment %} <div><a href="{% url 'update_worker_profile' user_profile.profile.pk %}" class="btn btn-primary">Update Profile</a></div> {% endcomment %}


        <div class="worker-image">

            <figure><img src="{% static 'images/index.jpg'%}" alt="sing up image"></figure>
        </div>
    </div>
    {% endblock %}
    {% include 'includes/footer.html' %}
{% endblock %}


{% comment %} {% extends 'base.html' %}
{% load static %}
{% block page_links %}
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
{% endblock %}
{% block page_title %}
    Worker Details
{% endblock %}
<block style>
  
{% block page_body %}
    {% include "header.html" %}

   {% block content %}
      <div class="worker-content">
        <div class="worker-form">
          <p>Username: {{ username }}</p>
          <br/>
          <p>Service: {{ work_profile.service }}</p>
          <p>Description: {{ work_profile.description }}</p>
          <p>Phone: {{ work_profile.profile.phone_no }}</p>
          <p>Price per Day: Rs.{{ work_profile.price_per_day }} </p>
          <p>Available Time: {{ work_profile.available_time }}</p>

        </div>

        <div class="worker-image">

          <figure><img src="{% static 'images/index.jpg'%}" alt="sing up image"></figure>
          <p>Profile PK: {{ work_profile.profile.pk }}</p>
          <div><a href="{% url 'worker_profile' work_profile.profile.pk %}" class="btn btn-primary">Update Profile</a></div>

        </div>
      </div>
  {% endblock %}
  {% include 'footer.html' %}
{% endblock %} {% endcomment %}
