{%load static%}

{% include 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
  .signup-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .signup-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    grid-column: span 1; /* Occupy one column */
  }

  .signup-image {
    grid-column: span 1; /* Occupy one column */
    text-align: center;
  }

  /* Rest of your styles */

</style>
</head>
<body>

<div class="signup-content">
  <div class="signup-form">
    <p>Username: {{ username }}</p>
    <br/>
  <p>Service: {{ work_profile.service }}</p>
  <p>Description: {{ work_profile.description }}</p>
  <p>Phone: {{ work_profile.profile.phone_no }}</p>
  <p>Price per Day: {{ work_profile.price_per_day }} Rs.</p>
  <p>Available Time: {{ work_profile.available_time }}</p>
  </div>
  <div class="signup-image">
    <figure><img src="{% static 'images/index.jpg'%}" alt="sing up image"></figure>
  </div>
</div>

</body>
</html>

<div class="container mt-5">
    <a href="{% url 'worker_profile' work_profile.profile.pk %}" class="btn btn-primary">Update Profile</a>
{% comment %} <input type="button" value="Update profile " onclick="location.href='{% url 'worker_profile' worker.profile.pk %}'">   {% endcomment %}
  {% comment %} <h2>Worker Profile</h2>
  <p>Username: {{ username }}</p>
  <p>Service: {{ work_profile.service }}</p>
  <p>Description: {{ work_profile.description }}</p>
  <p>Phone: {{ work_profile.profile.phone_no }}</p>
  <p>Price per Day: {{ work_profile.price_per_day }}</p>
  <p>Available Time: {{ work_profile.available_time }}</p>
</div> {% endcomment %}
{% endblock %}
</body>