
<!DOCTYPE html>
{% load bootstrap4 %}
{% block content %}
 
    <h1> worker details </h1>
    <br/>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  
    <form action="{% url 'worker_profile' user_profile.pk %}" method="post">
      {% csrf_token %}
      
          <h1> You are adding a details for: "{{ user_profile.user }}</h1>
          
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  
          <label for="price_per_day">price_per_day: </label>
          <input type="text" value="" name="price_per_day">
         
  
          <label for="service">Gender</label>
          <select name="service" id="service" class="form-control" required>
            <option value="plumber">plumber</option>
            <option value="nurse">nurse</option>
            <option value="electrician">electrician</option>
  
            <input type="submit" value="Add" id="details">
  
  </form>
    {% comment %} <form method="POST" class="register-form" id="register-form">
      {% csrf_token %} 
      <div class="form-group">
          <label for="service"> service<i class="zmdi zmdi-account material-icons-name"></i></label>
          <input type="text" name="{{userprofile.service}}" id="{{userprofile.service}}" placeholder="service">
      </div>
      <div class="form-group">
          <label for="price"> Price <i class="zmdi zmdi-email"></i></label>
          <input type="number" name="{{userprofile.price_per_day}}" id="{{userprofile.price_per_day}}" placeholder="price">
      </div>
      <div class="form-group">
        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
    </div>
    <div class="form-group form-button">
        <input type="submit" name="add" id="signup" class="form-submit" value="add_details">
    </div>
</form> {% endcomment %}
    {% comment %} {{userprofile.service}}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>  {% endcomment %}
{% comment %} 
        <form action= {% url "worker_profile"%} method = POST  novalidate>
            {% csrf_token %}
            {% comment %} {% bootstrap_form form %} {% endcomment %}
          
       {% comment %}  {% for form in form %}
         {{ form.label_tag}} {{form}} {{form.errors|striptags}} <br><br>
        {% endfor %} 
            <input type="submit" value ="Submit">
        </form>{% endcomment %} 
        {% if messages %}
        {%for message in messages%}
        <small {% if message.tags %} class= "{{message.tags}}" 
            {%endif%}> {{message}}
        </small>
        {% endfor %}
        {%endif%}         
     {% endblock %}