{% extends 'base.html' %}
{% load static %}
{% block page_links %}
    <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">
{% endblock %}
{% block page_title %}
    worker profile
{% endblock %}
{% block page_body %}
    {% include "includes/header.html" %}
  
    
        

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if work_profile.count < 5 %}
  
    <form action="{% url 'worker_profile' user_profile.pk %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend> <h1> Add service </h1></legend>
        <div class="worker-block">
            <label for="service">Service:</label>
            <select name="service" id="service" class="form-control" required>
                <option value="plumber">Plumber</option>
                <option value="nurse">Nurse</option>
                <option value="gardener">Gardener</option>
                <option value="made">Made</option>
                <option value="electrician">Electrician</option>
            </select>
            <br/>
            <br/>
            <label for="description">Description:</label>
            <input type="text" name="description">
            <br/><br/>
            <label for="experiance">Experience: (Year):</label>
            <input type="text" name="experiance">
            <br/><br/>
            <label for="available_time">Available Time (Hour): </label>
            <input type="text" name="available_time">
            <br/><br/>
            <label for="price_per_day">Price per Day (Rs.):</label>
            <input type="text" name="price_per_day">
            <br/><br/>
            <input type="submit" value="Add Service">
        </div>
    </fieldset>
    </form>

    {% else %}
    <p>You have reached the maximum limit of services. You cannot add more services.</p>
    {% endif %}
    
        {% if messages %}
        {%for message in messages%}
        <small {% if message.tags %} class= "{{message.tags}}" 
            {%endif%}> {{message}}
        </small>
        {% endfor %}
        {%endif%}    
  
        <fieldset>
            <legend> <h1> Existing  services </h1></legend>
          
            {% for work_profile in work_profile %}
            <div class="worker-block">
                <p> <label for="service">Service:</label>  {{ work_profile.service }}</p>
                <p> <label for="description">Description:</label>  {{ work_profile.description }}</p>
                <p>  <label for="experiance">Experience: (Year):</label> {{ work_profile.experiance }} </p>
                <p>   <label for="available_time">Available Time (Hour): </label> {{ work_profile.available_time }} </p>
                <p>  <label for="price_per_day">Price per Day (Rs.):</label> {{ work_profile.price_per_day }}</p>
            </div>
            {% endfor %}
       
    </fieldset>

    {% include 'includes/footer.html' %}
{% endblock %}
