<!DOCTYPE html>

{%load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup </title>
    <meta name="description" content="This is the worker sign up page ">
    <link rel="stylesheet" href={% static 'css/newstyle.css'%}>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<style>
  
</style>
<body>
{% include 'header.html' %}
{% block content %}
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <h2 class="form-title">Sign UP</h2>
                <div class="signup-form">
        
                           
                            <div  class= 'main_div'>
                                 <form action= {% url "signup"%} method = POST  novalidate>
                                     {% csrf_token %}  
                                     <div class="form-group">        
                                    {% for form in form %} 
                                    <div>{{ form.label_tag}}

                                    </div>
                                 
                                     <div>{{form}} {{form.errors|striptags}} </div>  
                                    </br>  
                                     {% endfor %} 
                                     </div>
                                
                                     
                                <div class="form-group">
                                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signup" id="signup" class="form-submit" value="Register">

                                    <a class="form-submit" href="{% url 'login' %}">Already have an account</a>

                                </div>
                                <div class="form-group form-button">
                                    {% comment %} <input type="submit" onclick="location.href='{% url 'login' %}'"  class= 'already' value="Already have an account"> {% endcomment %}
                                </div>

                            </form>
                        </div>
                        <div class="signup-image">
                            <figure><img src="{% static 'images/index.jpg'%}" alt="sing up image"></figure>
                            {% comment %} <div class="form-group form-button">
                                <br/>
                                <input type="submit" onclick="location.href='{% url 'login' %}'"  class= 'already' value="Already have an account">
                            </div> {% endcomment %}
                            {% comment %} <a href="{%url 'login' %}" class="signup-image-link">Already have an account</a> {% endcomment %}
                        </div>
                                 
                             {% if messages %}
                                 {%for message in messages%}
                                   <small {% if message.tags %} class= "{{message.tags}}" 
                                          {%endif%}> {{message}}
                                    </small>
                                 {% endfor %}
                             {%endif%}       
                            </div> 
                </div>
            </div>
        </div>
    </section>
</div>

                       
          
{% endblock %}
</body>