

.main {
  /* background: #ffebe3; */
  margin: 40px;
  padding: 10px 40; }

.clear {
  clear: both; }

body {

background-image: url("/static/images/body.png");
background-size: 100%;
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  /* background: gray; */
  font-weight: 400;
  font-family: Poppins; }

.container {
  display: flex;
  flex-direction: row-reverse;
  padding: 200px;
  text-align: center;
  padding-top: 40px;
  /* width: 900px; */
  /* background: #ffebe3;; */
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }


.signup {
  margin-bottom: 150px;
background: #ffebe3; }

.signup-content {
  padding: 75px 30px ; }

.signup-form, .signup-image, .signin-form, .signin-image {
  /* width: 50%; */
  display: flex;
  justify-content: center;
    flex-wrap: wrap;

  overflow: hidden; }

/* .signup-image {
    display: grid;
    grid-template-rows: 50% 50%;
  margin: 0 55px; } */

.form-title {
    text-align: center;
  margin-bottom: 33px; }
  .register-form {
    width: 100%; }

.signup-image {
  margin-left: 40px;
  margin-top: 45px; }

figure {
  margin-left: 40px;
  margin-bottom: 50px;
  text-align: center; }

.form-submit {
  text-decoration: none;
  /* display: inline-block; */
  background: #6dabe4;
  color: #fff;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .form-submit:hover {
    background: #4292dc; }

#signin {
  margin-top: 16px; }

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; }

.term-service {
  font-size: 13px;
  color: #222; }
h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px; }
.main_div{
    padding: 10px 10px;
    width: 800px;
}
/* navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #c7bdbd; */
    padding: 30px 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .left-items {
    display: flex;
    align-items: center;
  }
  
  .right-items {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
  }
  .logo img{
    border-radius: 50%;
    height: auto;
    width: 60px;
    padding: 0%;
    margin: 0%/* Adjust the width as needed */
   }
  form{
    text-align: center;
   }
 

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  
/* background: #f2f2f2; */
font-family: 'Open Sans', sans-serif;
}

.search {
width: 100%;
/* position: relative;
display: flex; */
}

.searchTerm {
position: relative;
width: 100%;
border: 3px solid #00B4CC;
border-right: none;
padding: 5px;
height: 20px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
}

.searchTerm:focus{
color: #00B4CC;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #00B4CC;
background: #00B4CC;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 30%;
/* position: absolute; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

